#Archive_IMG {
    width: 450px;
    padding: 20px 20px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    min-height: 10vh;
}